1) Eliminar columnas no relevantes
2) Rellenar/Eliminar nulos
3) Eliminar duplicados
4) Revisar tipo de datos

In [3]:
import pandas as pd
import numpy as np

In [4]:
#Lectura de los datos
draftcombine_df=pd.read_csv(r"C:\Users\anala\OneDrive\Documentos\GitHub\Proyecto-Final\csv_originales\draft_combine_stats.csv")

#Revisión de las primeras filas
draftcombine_df.head()

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,...,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Consulta de cantidad de datos con numpy (para confirmar registros y columnas especificadas)
np.shape(draftcombine_df)

(1202, 47)

In [6]:
#Revisión dataframe
draftcombine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202 entries, 0 to 1201
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   season                        1202 non-null   int64
 1   player_id                     1202 non-null   int64
 2   first_name                    1202 non-null   object
 3   last_name                     1202 non-null   object
 4   player_name                   1202 non-null   object
 5   position                      1197 non-null   object
 6   height_wo_shoes               1153 non-null   float64
 7   height_wo_shoes_ft_in         1153 non-null   object
 8   height_w_shoes                1008 non-null   float64
 9   height_w_shoes_ft_in          1008 non-null   object
 10  weight                        1152 non-null   float64
 11  wingspan                      1153 non-null   float64
 12  wingspan_ft_in                1153 non-null   object
 13  standing_reach                1152 non-null   float64
 14  standing_reach_ft_in          1152 non-null   object
 15  body_fat_pct                  1003 non-null   float64
 16  hand_length                   719 non-null    float64
 17  hand_width                    719 non-null    float64
 18  standing_vertical_leap        1017 non-null   float64
 19  max_vertical_leap             1017 non-null   float64
 20  lane_agility_time             1008 non-null   float64
 21  modified_lane_agility_time    411 non-null    float64
 22  three_quarter_sprint          1012 non-null   float64
 23  bench_press                   808 non-null    float64
 24  spot_fifteen_corner_left      74 non-null     object
 25  spot_fifteen_break_left       76 non-null     object
 26  spot_fifteen_top_key          76 non-null     object
 27  spot_fifteen_break_right      76 non-null     object
 28  spot_fifteen_corner_right     76 non-null     object
 29  spot_college_corner_left      245 non-null    object
 30  spot_college_break_left       166 non-null    object
 31  spot_college_top_key          166 non-null    object
 32  spot_college_break_right      166 non-null    object
 33  spot_college_corner_right     166 non-null    object
 34  spot_nba_corner_left          217 non-null    object
 35  spot_nba_break_left           217 non-null    object
 36  spot_nba_top_key              217 non-null    object
 37  spot_nba_break_right          217 non-null    object
 38  spot_nba_corner_right         217 non-null    object
 39  off_drib_fifteen_break_left   166 non-null    object
 40  off_drib_fifteen_top_key      166 non-null    object
 41  off_drib_fifteen_break_right  166 non-null    object
 42  off_drib_college_break_left   110 non-null    object
 43  off_drib_college_top_key      31 non-null     object
 44  off_drib_college_break_right  31 non-null     object
 45  on_move_fifteen               148 non-null    object
 46  on_move_college               116 non-null    object
dtypes: float64(14), int64(2), object(31)
memory usage: 441.5+ KB

In [9]:
#Filtro de fecha desde la season 2015
draftcombine_2015_df=draftcombine_df[draftcombine_df["season"]>2014]

In [10]:
#Revisión dataframe filtrado por fecha
draftcombine_2015_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 477 entries, 725 to 1201
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   season                        477 non-null    int64
 1   player_id                     477 non-null    int64
 2   first_name                    477 non-null    object
 3   last_name                     477 non-null    object
 4   player_name                   477 non-null    object
 5   position                      474 non-null    object
 6   height_wo_shoes               433 non-null    float64
 7   height_wo_shoes_ft_in         433 non-null    object
 8   height_w_shoes                366 non-null    float64
 9   height_w_shoes_ft_in          366 non-null    object
 10  weight                        432 non-null    float64
 11  wingspan                      432 non-null    float64
 12  wingspan_ft_in                432 non-null    object
 13  standing_reach                433 non-null    float64
 14  standing_reach_ft_in          433 non-null    object
 15  body_fat_pct                  363 non-null    float64
 16  hand_length                   433 non-null    float64
 17  hand_width                    433 non-null    float64
 18  standing_vertical_leap        354 non-null    float64
 19  max_vertical_leap             354 non-null    float64
 20  lane_agility_time             353 non-null    float64
 21  modified_lane_agility_time    311 non-null    float64
 22  three_quarter_sprint          353 non-null    float64
 23  bench_press                   195 non-null    float64
 24  spot_fifteen_corner_left      46 non-null     object
 25  spot_fifteen_break_left       48 non-null     object
 26  spot_fifteen_top_key          48 non-null     object
 27  spot_fifteen_break_right      48 non-null     object
 28  spot_fifteen_corner_right     48 non-null     object
 29  spot_college_corner_left      178 non-null    object
 30  spot_college_break_left       99 non-null     object
 31  spot_college_top_key          99 non-null     object
 32  spot_college_break_right      99 non-null     object
 33  spot_college_corner_right     99 non-null     object
 34  spot_nba_corner_left          143 non-null    object
 35  spot_nba_break_left           143 non-null    object
 36  spot_nba_top_key              143 non-null    object
 37  spot_nba_break_right          143 non-null    object
 38  spot_nba_corner_right         143 non-null    object
 39  off_drib_fifteen_break_left   127 non-null    object
 40  off_drib_fifteen_top_key      127 non-null    object
 41  off_drib_fifteen_break_right  127 non-null    object
 42  off_drib_college_break_left   110 non-null    object
 43  off_drib_college_top_key      31 non-null     object
 44  off_drib_college_break_right  31 non-null     object
 45  on_move_fifteen               113 non-null    object
 46  on_move_college               112 non-null    object
dtypes: float64(14), int64(2), object(31)
memory usage: 178.9+ KB

In [11]:
# Verificar los nombres de las columnas
print("Columnas del DataFrame original:", draftcombine_2015_df.columns)

Columnas del DataFrame original: Index(['season', 'player_id', 'first_name', 'last_name', 'player_name',
       'position', 'height_wo_shoes', 'height_wo_shoes_ft_in',
       'height_w_shoes', 'height_w_shoes_ft_in', 'weight', 'wingspan',
       'wingspan_ft_in', 'standing_reach', 'standing_reach_ft_in',
       'body_fat_pct', 'hand_length', 'hand_width', 'standing_vertical_leap',
       'max_vertical_leap', 'lane_agility_time', 'modified_lane_agility_time',
       'three_quarter_sprint', 'bench_press', 'spot_fifteen_corner_left',
       'spot_fifteen_break_left', 'spot_fifteen_top_key',
       'spot_fifteen_break_right', 'spot_fifteen_corner_right',
       'spot_college_corner_left', 'spot_college_break_left',
       'spot_college_top_key', 'spot_college_break_right',
       'spot_college_corner_right', 'spot_nba_corner_left',
       'spot_nba_break_left', 'spot_nba_top_key', 'spot_nba_break_right',
       'spot_nba_corner_right', 'off_drib_fifteen_break_left',
       'off_drib_fifteen_top_key', 'off_drib_fifteen_break_right',
       'off_drib_college_break_left', 'off_drib_college_top_key',
       'off_drib_college_break_right', 'on_move_fifteen', 'on_move_college'],
      dtype='object')

Filtramos las columnas relevantes para el análisis